---
interface Participant {
  summonerName: string;
  riotIdGameName: string;
  riotIdTagline: string;
  championName: string;
  champLevel: string;
  role: string;
  lane: string;
  summonerLevel: string;
  item0: number;
  item1: number;
  item2: number;
  item3: number;
  item4: number;
  item5: number;
  item6: number;
  kills: number;
  deaths: number;
  assists: number;
  win: boolean;
  puuid: string;
}

interface MatchInfo {
  win: boolean;
  gameMode: string;
  participants: Participant[];
}
interface Match {
	endOfGameResult: string;
	info: MatchInfo
}



import Layout from '../layouts/Layout.astro';
import MatchBox from '../components/matchBox.astro';

const API_KEY = import.meta.env.API_KEY;
const GAME_NAME = 'Fran4all';
const TAG_LINE = 'LAS';

const user = await fetch(`https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/${GAME_NAME}/${TAG_LINE}?api_key=${API_KEY}`);
const dataUser = await user.json();

const PUUID = dataUser.puuid;

const matches = await fetch(`https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/${PUUID}/ids?start=0&count=20&type=ranked&api_key=${API_KEY}`);
const matchesList = await matches.json();

let matchInfoDataArray = [];
for (let i = 0; i < matchesList.length; i++) {
	const matchInfo = await fetch(`https://americas.api.riotgames.com/lol/match/v5/matches/${matchesList[i]}?api_key=${API_KEY}`);
	const matchInfoData = await matchInfo.json();
	matchInfoDataArray.push(await matchInfoData);
}

const summoner = await fetch(`https://la2.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/${PUUID}?api_key=${API_KEY}`);
const summonerInfo = await summoner.json();
const SUMMONER_ID = summonerInfo.id;

const leagueSummoner = await fetch(`https://la2.api.riotgames.com/lol/league/v4/entries/by-summoner/${SUMMONER_ID}?api_key=${API_KEY}`);
const leagueSummonerInfo = await leagueSummoner.json();
---

<Layout title="League Status">
	<main>
		<div class="bg-gray-200 min-w-screen min-h-screen p-4">
			<div class="p-4 rounded-lg w-full h-full bg-white shadow-xl flex flex-col justify-center items-center">
				<div class="flex w-full lg:w-1/2 bg-gray-50 rounded-xl shadow-md p-2">
					<div class="w-1/2 flex flex-col justify-center items-center">
						<div class="aspect-square w-24 h-24 rounded-full overflow-hidden">
							<img class="w-full h-full transform scale-125" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/profileicon/${summonerInfo.profileIconId}.png`} alt={summonerInfo.profileIconId}>
						</div>
						<p>{dataUser.gameName + '#' + dataUser.tagLine}</p>
						<p>Nivel {summonerInfo.summonerLevel}</p>
					</div>
					<div class="w-1/2 flex flex-col justify-center items-center">
						<div class="aspect-square w-24 h-24">
							<img src={`../src/assets/${leagueSummonerInfo[1].tier}.png`} alt={leagueSummonerInfo[1].tier}>
						</div>
						<p>{leagueSummonerInfo[1].tier + ' ' + leagueSummonerInfo[1].rank}</p>
						<p>{leagueSummonerInfo[1].leaguePoints + ' LPS'}</p>
						<p>{leagueSummonerInfo[1].wins + ' - ' + leagueSummonerInfo[1].losses}</p>
					</div>
				</div>
				<ul class="mt-4 bg-gray-50 rounded-xl shadow-md p-2 w-full lg:w-1/2">
					{matchInfoDataArray
					.filter((match: Match) => match.info.gameMode === 'CLASSIC')
					.map((match:Match) => (
						<li>
							{match.info.participants
							.filter((participant:Participant) => participant.puuid === PUUID)
							.map((participant:Participant) => (
								<MatchBox win={participant.win} champion={participant.championName}></MatchBox>
							)) }
						</li>
					)) }
					{/* } matchInfoData.info.participants.map((participant:Participant) => (
						<li class="flex w-full my-3 ">
							{participant.riotIdGameName + '#' + participant.riotIdTagline + ' - ' + participant.summonerLevel}
							<div class="aspect-square w-24 h-24 rounded-full overflow-hidden">
								<img class="w-full h-full transform scale-125" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/champion/${formatChampionName(participant.championName)}.png`} alt={participant.championName}>
							</div>
							<div class="flex items-center flex-col mx-2">
								<p>{participant.championName}</p>
								<p>{participant.champLevel}</p>
								<p>{participant.lane}</p>
								<p>{participant.kills+"/"+participant.deaths+"/"+participant.assists}</p>
							</div>
							<div class="gap-x-2 flex">
								{participant.item0!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item0}.png`} alt="item0"> : ''}
								{participant.item1!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item1}.png`} alt="item1"> : ''}
								{participant.item2!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item2}.png`} alt="item2"> : ''}
								{participant.item3!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item3}.png`} alt="item3"> : ''}
								{participant.item4!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item4}.png`} alt="item4"> : ''}
								{participant.item5!=0 ? <img class="aspect-square w-20 h-20" src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/item/${participant.item5}.png`} alt="item5"> : ''}
							</div>
						</li>
					)) */}
				</ul>
			</div>
		</div>
	</main>
</Layout>